@media print {
    .noPrint {
        display: none;
    }
    a,
	a:visited {  
       text-decoration: underline !important;
	}
}
/* https://stackoverflow.com/questions/163628/making-email-addresses-safe-from-bots-on-a-webpage */
.cryptedmail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}